*{
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;/* Esto asegura que padding y border no aumenten el tamaño del elemento */
  }
  body{
    font-family: Figtree;
    width: 100%;
    overflow-x: hidden;/* Ocultar el desbordamiento horizontal */
  }
  main{
    min-height: 100vh;/* Asegurar que el main ocupe al menos el 100% de la altura de la pantalla */
    background-color: rgba(245,208,78,255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;/* Añadir padding para evitar que el contenido esté demasiado cerca del borde */
  }
  #white_card{
    width: 100%;
    max-width: 384px;/* Establecer un ancho máximo */
    height: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 18px;
    box-shadow: 10px 10px black;
    padding: 20px;
  }
  #ilustration{
    border-radius: 5%;
    width: 100%;
    position: relative;
  }
  #texts{
    margin: 4% auto 4%;
    display: grid;
    align-content: space-around;
  }
  #learning{
    width: 30%;
    max-width: 100%;
    font-size: 17px;
    font-weight: bold;
    background-color: rgba(245,208,78,255);
    border-radius: 4px;
    position: relative;
    padding: 2%;
    text-align: center;
    margin-bottom: 8px;
  }
  h1{
    font-size: 23px;
    margin-bottom: 8px;
  }
  h1:hover{
    color: rgba(245,208,78,255);
  }
  h2{
    font-size: 15px;
    margin-bottom: 8px;
    opacity: 60%;
  }
  h3{
    font-size: 15px;
    margin-bottom: 8px;
    opacity: 70%;
  }
  #final{
    display: flex;
    align-items: center;
  }
  #name{
    margin-left: 9px;
    font-weight: bold;
    font-size: 17px;
  }
  #avatar{
    width: 40px;
    border-radius: 25%;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 30px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }